* {
  margin: 0;
  padding: 0;
}

/*header*/

header {
  border: 1px solid red;
}

#index_page {
  width: 1000px;
  margin: 0 auto; /* 가운데 정렬 */
}

#logo {
  float: left;
  margin: 15px 15px 8px 20px;
}

#moto {
  float: left;
  margin-top: 48px;
}

#top_menu {
  float: right;
  margin: 50px 0 0 0;
  font-size: 12px;
}

#top_menu li {
  display: inline; /* 목록 가로로 만들어주는거*/
}

.line {
  border-top: 1px solid #cccccc;
  margin-top: 10px;
}

#top_nav {
  margin-top: 25px;
}

#top_nav li {
  display: inline;
}

.clear {
  clear: both;
}

#section_top li {
  display: inline;
}

li.menu_item {
  margin-left: 30px;
}

/*main*/

#banner ul li {
  display: inline;
  margin-left: 32px;
}

#banner {
  height: 100px;
  background-color: #00a8ab;
  margin-top: 5px;
}
