* {
  margin: 0;
  padding: 0;
}

/*header*/

header {
  border: 1px solid red;
}

#index_page {
  width: 1000px;
  margin: 0 auto; /* 가운데 정렬 */
}

#logo {
  float: left;
  margin: 15px 15px 8px 20px;
}

#moto {
  float: left;
  margin-top: 48px;
}

#top_menu {
  float: right;
  margin: 50px 0 0 0;
  font-size: 12px;
}

#top_menu li {
  display: inline; /* 목록 가로로 만들어주는거*/
}

.line {
  border-top: 1px solid #cccccc;
  margin-top: 10px;
}

#top_nav {
  margin-top: 25px;
}

#top_nav li {
  display: inline;
}

.clear {
  clear: both;
}

#section_top li {
  display: inline;
}

li.menu_item {
  margin-left: 30px;
}

/*main*/

#banner ul li {
  display: inline;
  margin-left: 32px;
}

#banner {
  height: 100px;
  background-color: #00a8ab;
  margin-top: 5px;
}

#customer {
  float: left;
  width: 300px;
  height: 150px;
  /* border: 1px solid red; */
  margin-top: 20px;
}

#customer .title {
  /* id로잡는경우 한번 띄어야한다 */
  float: left;
  margin-left: 10px;
}

#customer .more {
  float: right;
}

#customer #phone {
  margin-left: 10px;
}

#notice {
  float: left;
  width: 300px;
  height: 150px;
  /* border: 1px solid red; */
  margin-top: 20px;
  margin-left: 31px;
}

#notic .title {
  float: left;
  margin-left: 10px;
}

#notice .more {
  float: right;
}

#notice .subject {
  float: left;
  margin-left: 10px;
}

#notice .date {
  float: right;
  margin-right: 10px;
}

#notice ul {
  margin-top: 15px;
}

#notice li {
  margin-top: 5px;
}

#faq {
  float: left;
  width: 300px;
  height: 150px;
  /* border: 1px solid red; */
  margin-top: 20px;
  margin-left: 25px;
}

/*sitemap section*/

#sitemap {
  /* border: 1ps solid blue; */
  padding: 20px 0 0 15px;
}

#sitemap div {
  height: 140px;
  float: left;
  border: 1px solid red;
  margin: 0 5px 0 10px;
}

#sitemap li {
  list-style-image: url("../images/blue_dot.gif");
  /* 다른폴더(css)에 있어서 일단 다른경로 지정 후 해야한다. */
  margin: 5px 0 0 20px;
}

#sitemap h3 {
  color: #00a8ab;
  font-size: 15px;
  margin-left: 15px;
}

#sitemap ul {
  color: #666666;
}
